@model TechTest01.Web.Models.HomeModel

@{
    ViewBag.Title = "Homepage";
}

<h2>Homepage</h2>

<div>
    <h4>HomeModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>   
    @Html.ActionLink("Product List", "Index")
</p>
